html{
    --cPrincipal: #4D4B4B;
    --cSecondary: #1C1C21;
    --cSecondary2: #cecaca;
    --cSecondary3: rgb(23, 23, 26);
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--cSecondary3);
}
#menu{
    position: fixed;
    background-color: var(--cSecondary);
    width: 190px;
    height: 100%;
    left: -190px;
    transition: all 300ms linear;
}
#menu.appear{
    left: 0;
}
.menuIcon{
    font-size: 5em;
    color: var(--cSecondary2);
    margin: .5em;
    display: block;
}
#menu ul li{
    text-align: center;
    list-style: none;
}
#menu li a{
    padding: 1em;
    display: block;
    text-decoration: none;
    color: var(--cPrincipal);
    font-size: large;
    transition: border 0.2s linear;
}
#menu li a:hover{
    cursor: pointer;
    background-color: var(--cSecondary2);
    color: var(--cSecondary);
    border-left: 8px solid var(--cPrincipal)
}
.version{
    position: fixed;
    bottom: 0;
    padding-left: 1em;
}
.toggleBtn{
    position: absolute;
    top:20px;
    left: 220px;
    font-size: 2.5em;
    color: var(--cPrincipal);
    cursor: pointer;
}
.toggleBtn:hover{
    color: #525050;
    transform: scale(1.13,1.13);
}